<%= render "shared/header" %>
<div class="submissions">
    <% @submissions.each_with_index do |submission, index| %>
        <div class="submission-partial">
            <p class="submission-index"><%= index + 1 %>.</p>
            <%= render partial: "shared/submission", locals: {submission: submission} %>
        </div>
    <% end %>
</div>
<%= render "shared/footer" %>